
<div class="areafooter">
    <ul>
        <li>projeto desenvolvido e pensado pra a populacao.</li>
        
        <li>aqui tem compromotimento com o povo sempre trazendo melhorias. </li>
    </ul>
    
</div>
<hr>
<div class="areafooter">
    <ul>
        <li>desenmvolvido durante a maratona tecn.</li>
        <li> do CETI Acrisio Verás para o mundo</li>
    </ul>
</div>
<hr>
<div class="areafooter">
    <ul>
        <li><a href="#">sobre nois</a></li>
        <li>click aqui para saber mais sobre nois 👆</li>
    </ul>
</div>