*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
    
}
button{
    background: none;
    border: none;
}
body{
    background: #AAD1D9;
}
.areatexto{
    height: 10em;
    width: 20em;
    margin: 2em;
}
.aa{
    border: 2px solid black;
    background: #4DF423;
    border-radius: .5em;
    font-family: "JetBrains Mono";
}